<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/AreaPersonalizado.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<title>Listado de usuarios con rol asignado</title>
</head>
<body>
<div class="cabecera">
	<h1>Listado de usuarios con rol asignado</h1>
</div>


<div class="container">		
		
		<a sec:authorize="isAuthenticated()" th:href="@{/rootArea}"><img src="/Imagenes/AreaRoot/atras.png" width="4%" height="4%" align="right"></a>
		
		<table class="table table-responsive table-hover">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Correo</th>
					<th>Role</th>	
					<th>Editar</th>	
					<th>Eliminar</th>			
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${listusecrol}"					
					th:alt-title="${userStat.even}? 'even' : 'odd'">
					<td th:text="${user.nombre}" name="nombre"></td>
					<td th:text="${user.apellidos}" name="apellidos"></td>
					<td th:text="${user.email}" name="email"></td>	
					<td>
						<p th:each="role : ${user.roles}">
						<span th:text="${role.name}"></span>
					</td>					
					<td><a class="btn btn-primary" th:href="@{'/rootArea/usercrmodify/' + ${user.id}}">Editar</a></td>
					<td><a class="btn btn-danger" th:href="@{'/rootArea/usercrdelete/' + ${user.id}}">Eliminar</a></td>			
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>