<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Editar Peticion</title>
<link rel="stylesheet" href="/css/AreaPersonalizado.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<body>

	<div class="cabecera">
		<h1>Editar Petición</h1>
	</div>
	
	<div class="container">
	
		<a sec:authorize="isAuthenticated()" th:href="@{/rootArea}"><img src="/Imagenes/AreaRoot/atras.png" width="4%" height="4%" align="right"></a>
		<br><br>
		
		<form method="post" enctype="multipart/form-data" action="#"
				th:action="@{/rootArea/requestsmodifyRoot/submit}" th:object="${requests}">
				
				
			<div class="form-group">
				<input type="hidden" class="form-control" id="id" name="id" th:value="${requests.id}" />
			</div>	
			
			<div class="form-group">
				<label for="fechaInicio">Fecha Inicio</label> 
				<input type="text" class="form-control" id="fechaInicio" name="fechaInicio" th:value="${requests.fechaInicio}"/>
			</div>
			
			<div class="form-group">
				<label for="fechaFin">Fecha Fin</label> 
				<input type="text" class="form-control" id="fechaFin" name="fechaFin" th:value="${requests.fechaFin}"/>
			</div>
			
			<div class="form-group">
				<label for="descripcion">Descripcion</label>
				<input type="text" class="form-control" id="descripcion" name="descripcion" th:value="${requests.descripcion}"/>
			</div>
			
			<div class="form-group">
				<label for="apellidos">Estado</label>
				<select class="form-select" id="estado" name="estado">
					  <option th:value="'Aceptado'">Aceptado</option>
					  <option th:value="'Denegado'" >Denegado</option>					  
				</select>			
			</div>
			
			<br>			
			<button type="submit" class="btn btn-primary">Editar Peticion</button>
		
		</form>	
		
	</div>

</body>
</html>