<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Editar Proveedor</title>
<link rel="stylesheet" href="/css/AreaPersonalizado.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
	<div class="cabecera">
		<h1>Editar Proveedor</h1>
	</div>
	
	<div class="container">
		<a sec:authorize="isAuthenticated()" th:href="@{/administracionArea}"><img src="/Imagenes/AreaAdministracion/atras.png" width="4%" height="4%" align="right"></a>
		<br><br>
		
		<form method="post" enctype="multipart/form-data" action="#"
			th:action="@{/administracionArea/providersmodifyAdmin/submit}" th:object="${providers}">
	
			<div class="form-group">
				<input type="hidden" class="form-control" id="id" name="id" th:value="${providers.id}" />
			</div>	
			
			<div class="form-group">
				<label for="cif">CIF</label> 
				<input type="text" class="form-control" id="cif" name="cif" th:value="${providers.cif}"/>
			</div>
	
			<div class="form-group">
				<label for="nombre">Nombre</label> 
				<input type="text" class="form-control" id="nombre" name="nombre" th:value="${providers.nombre}"/>
			</div>
			
			<div class="form-group">
				<label for="nombre">Direccion</label> 
				<input type="text" class="form-control" id="direccion" name="direccion" th:value="${providers.direccion}"/>
			</div>
			
			<div class="form-group">
				<label for="nombre">Provincia</label> 
				<input type="text" class="form-control" id="provincia" name="provincia" th:value="${providers.provincia}"/>
			</div>
			
			<div class="form-group">
				<label for="nombre">Código Postal</label> 
				<input type="number" class="form-control" id="codigoPostal" name="codigoPostal" th:value="${providers.codigoPostal}"/>
			</div>
			
			<div class="form-group">
				<label for="nombre">Teléfono</label> 
				<input type="text" class="form-control" id="telefono" name="telefono" th:value="${providers.telefono}"/>
			</div>
			
			<br>			
			<button type="submit" class="btn btn-primary">Editar Proveedor</button>
	
	
		</form>
	</div>



</body>
</html>