<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Registrarse</title>
<script defer src="js/bootstrap.bundle.min.js"></script>
<script defer src="js/jquery.min.js"></script>
<script defer src="js/sweetalert2@10.js"></script>
<script defer src="js/validacionRegistro.js"></script>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/loginPersonalizado.css">
</head>
<body>
	
	<div class="container">
        <div class="row mgTp">			
				<!-- Mensaje de exito usuario -->
				<div th:if="${param.success}">
					<div class="alert alert-info">El usuario a sido creado!!!, ahora espera que el root te de permisos</div>
				</div>				
				<form class="col-md-6 offset-md-3" th:action="@{/registration}" method="post" th:object = "${user}">
					<h3 class="titulo">Registro</h3>
					<hr>
					
					<div class = "form-group">
						<label class = "control-label" for="nombre">
							Nombre
						</label>
						<input id="nombre" class= "form-control" th:field="*{nombre}" autofocus="autofocus"/>
						
					</div>
					<div class = "form-group">
						<label class = "control-label" for="apellidos">
							Apellidos
						</label>
						<input id="apellidos" class= "form-control" th:field="*{apellidos}" autofocus="autofocus"/>
						
					</div>
					<div class = "form-group">
						<label class = "control-label" for="email">
							Email
						</label>
						<input id="email" class= "form-control" th:field="*{email}" autofocus="autofocus"/>
						
					</div>
					<div class = "form-group">
						<label class = "control-label" for="password">
							Password
						</label>
						<input id="password" class= "form-control" type="password" th:field="*{password}" autofocus="autofocus"/>
						
					</div>
					<div class = "form-group">
						<button type="submit" id="enviar" class="btn btn-primary topBtn">Registrarse</button>
						<br><br>
						<span>Ya estas registrado <a href="/" th:href="@{/login}">Iniciar Sesión</a></span>
					</div>					
				</form>		
			</div>		
		</div>		
	
</body>
</html>